body {
    display: flex;
    flex-direction: column;
    margin: 0 20%;
    background: #d8c3a5;
    padding: 1rem;
}

.grid-and-controls {
    display: flex;
    gap: 20px;
}

.grid-container {
    width: 960px;
    height: 80vh;
    display: grid;
    flex: 0 1 auto;
}

.grid-squares {
    background-color: #8e8d8a;
    border: #000 1px solid;
}

.color-div {
    background-color: #eae7dc;
}

.header {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: #000;
    font-weight: bold;
}

.grid-size, .reset, .rainbow {
    font-size: 15px;
    padding: 10px 0;
    width: 150px;
    border-radius: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
}