body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    width: 960px;
    height: 100vh;
    display: grid;
}

.grid-squares {
    background-color: steelblue;
    border: skyblue 1px solid;
}

.color-div {
    background-color: black;
}